.root-play {
    display: grid;
    grid-template-rows: 1fr 8% 1fr;
    justify-content: center;
    min-width: 375px;
    width: 100%;
    height: 95vh;
    padding: 30px 30px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media(min-width: 520px) {
    .root-play {
        justify-content: center;
        gap: 28px;
        height: inherit;
        padding: 70px 55px 80px;
        border: solid 4px #000;
        border-radius: 6px;
    }
}

@media(min-width: 800px) {
    .root-play {
        height: inherit;
        gap: 28px;
        padding: 70px 70px 80px;
    }
}

@media(min-width: 1150px) {
    .root-play {
        height: inherit;
        gap: 74px;
        padding: 30px 95px 64px;
        border: solid 6px #000;
    }
}

.root-play-reverse {
    display: grid;
    grid-template-rows: 1fr 8% 1fr;
    justify-content: center;
    min-width: 375px;
    width: 100%;
    height: 95vh;
    padding: 30px 30px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media(min-width: 520px) {
    .root-play-reverse {
        position: relative;
        top: -26px;
        left: -60px;
        right: 60px;
        justify-content: center;
        height: 94vh;
        gap: 5px;
        padding: 0px 55px;
        border: solid 4px #000;
        border-radius: 6px;
    }
}

@media(min-width: 800px) {
    .root-play-reverse {
        position: relative;
        top: -26px;
        left: -110px;
        gap: 5px;
        padding: 0px 55px;
    }
}

@media(min-width: 952px) {
    .root-play-reverse {
        position: relative;
        top: -16px;
        left: -155px;
    }
}

@media(min-width: 1150px) {
    .root-play-reverse {
        top: 0px;
        justify-content: center;
        height: 94vh;
        gap: 98px;
        padding: 20px 95px 22px;
        border: solid 6px #000;
        border-radius: 6px;
        backdrop-filter: blur(3px);
    }
}

.container-counter {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 170px;
    height: 170px;
    border-radius: 70%;
    padding: 25px;
    box-shadow: 0 0 0 0 #0004;
    animation: pl1 1.5s infinite;
}

@keyframes pl1 {
    100% {
        box-shadow: 0 0 0 60px #0000
    }
}

.counter {
    justify-self: center;
    align-self: center;
}

.custom-plays,
.custom-plays-reverse {
    align-self: center;
}

.progress-bar {
    justify-self: center;
    align-self: center;
    width: 70%;
    height: 20px;
    background: linear-gradient(var(--color-principal) 0 0) 0/0% no-repeat #ddd;
    animation: p1 3.98s infinite linear;
}

@keyframes p1 {
    100% {
        background-size: 100%
    }
}

@media(min-width: 1150px) {
    .progress-bar {
        justify-self: center;
        align-self: center;
        width: 70%;
        height: 30px;
        background: linear-gradient(var(--color-principal) 0 0) 0/0% no-repeat #ddd;
        animation: p1 3.98s infinite linear;
        border: solid 4px;
        filter: blur(0.5px);
    }
}