.root-share_code {
    display: flex;
    flex-direction: column;
    gap: 120px;
    min-width: 375px;
    height: 100vh;
    padding: 30px 30px;
}

@media(min-width: 515px) {
    .root-share_code {
        height: inherit;
        gap: 88px;
        border: solid 4px #000;
        border-radius: 6px;
        padding: 20px 20px;
    }
}

@media(min-width: 805px) {
    .root-share_code {
        padding: 20px 30px;
    }
}

@media(min-width: 1150px) {
    .root-share_code {
        gap: 322px;
        height: inherit;
        padding: 15px 95px;
        border: solid 6px #000;
        border-radius: 6px;
    }
}