.root-waiting_room {
    display: flex;
    flex-direction: column;
    gap: 130px;
    min-width: 375px;
    height: 95vh;
    padding: 30px 30px;
}

@media(min-width: 520px) {
    .root-waiting_room {
        height: inherit;
        gap: 102px;
        border: solid 4px #000;
        border-radius: 6px;
        padding: 20px 30px 40px;
    }
}

@media(min-width: 800px) {
    .root-waiting_room {
        gap: 110px;
        padding: 20px 60px 30px;
    }
}

@media(min-width: 952px) {
    .root-waiting_room {
        gap: 126px;
        padding: 22px 80px 42px;
    }
}

@media(min-width: 1150px) {
    .root-waiting_room {
        gap: 330px;
        height: inherit;
        padding: 20px 65px 58px;
        border: solid 6px #000;
        border-radius: 6px;
    }
}

@media(min-width: 1150px) {
    .waiting-info {
        padding: 15px 95px;
    }
}