.root-results-win,
.root-results-lose,
.root-results-tie {
    display: grid;
    grid-template-rows: 24% 48% 14% 14%;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 375px;
    width: 100%;
    height: 100vh;
    padding: 4px 30px 15px;
}

.root-results-win {
    background-color: var(--color-ganador-secundario);
}

@media(min-width: 520px) {
    .root-results-win,
    .root-results-lose,
    .root-results-tie {
        position: static;
        gap: 10px;
        height: inherit;
        padding: 10px 45px 54px;
        border: solid 4px #000;
        border-radius: 6px;
    }
}

@media(min-width: 800px) {
    .root-results-win,
    .root-results-lose,
    .root-results-tie {
        padding: 20px 75px 50px;
    }
}

@media(min-width: 952px) {
    .root-results-win,
    .root-results-lose,
    .root-results-tie {
        padding: 20px 105px 56px;
    }
}

@media(min-width: 1150px) {
    .root-results-win,
    .root-results-lose,
    .root-results-tie {
        grid-template-rows: 22% 52% 13% 13%;
        gap: 14px;
        height: inherit;
        padding: 10px 125px 80px;
        border: solid 6px #000;
        border-radius: 6px;
        backdrop-filter: blur(4px);
    }
}

.root-results-lose {
    background-color: var(--color-perdedor-secundario);
}

.score {
    width: 80%;
    margin: 0 auto;
    align-self: center;
}

@media(min-width: 1150px) {
    .score {
        opacity: 0.8;
    }
}

.text-win {
    color: var(--color-ganador)
}

.text-lose {
    color: var(--color-perdedor)
}

.root_results-warning {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    min-width: 375px;
    width: 100%;
    height: 95vh;
    padding: 10px 30px;
}

@media(min-width: 520px) {
    .root_results-warning {
        gap: 16px;
        height: inherit;
        padding: 14px 45px 20px;
        border: solid 4px #000;
        border-radius: 6px;
    }
}

@media(min-width: 800px) {
    .root_results-warning {
        gap: 16px;
        height: inherit;
        padding: 14px 65px 20px;
    }
}

@media(min-width: 952px) {
    .root_results-warning {
        gap: 20px;
        height: inherit;
        padding: 16px 85px 22px;
    }
}

@media(min-width: 1150px) {
    .root_results-warning {
        gap: 28px;
        height: inherit;
        padding: 16px 95px 35px;
    }
}

.label-warning {
    background-color: rgb(244, 26, 26);
}

.container_warning {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 7px 20px;
    margin-top: 2px;
    border: solid 1px #000;
    border-radius: 6px;
}

@media(min-width: 520px) {
    .container_warning {
        background-color: rgb(192, 101, 101);
    }
}

@media(min-width: 1150px) {
    .container_warning {
        background-color: rgb(192, 101, 101);
        opacity: 0.9;
    }
}

.text-warning {
    text-align: center;
}

.container-btns {
    display: grid;
    grid-template-columns: 55% 1fr;
    gap: 6px;
}

@media(min-width: 800px) {
    .container-btns {
        padding: 0 40px;
    }
}

@media(min-width: 1150px) {
    .container-btns {
        padding: 0px;
        grid-template-columns: repeat(9, 1fr);
    }
}

@media(min-width: 1150px) {
    .btn-warning {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media(min-width: 1150px) {
    .btn-back {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}