.root-rules {
    display: flex;
    flex-direction: column;
    gap: 7px;
    min-width: 375px;
    height: 95vh;
    padding: 16px 30px;
}

@media(min-width: 520px) {
    .root-rules {
        height: inherit;
        gap: 15px;
        padding: 22px 35px 28px;
        border: solid 4px #000;
        border-radius: 6px;
    }
}

@media(min-width: 800px) {
    .root-rules {
        height: inherit;
        padding: 22px 55px 28px;
    }
}

@media(min-width: 952px) {
    .root-rules {
        height: inherit;
        gap: 18px;
        padding: 25px 78px 34px;
    }
}

@media(min-width: 1150px) {
    .root-rules {
        gap: 104px;
        height: inherit;
        padding: 22px 108px 42px;
        border: solid 6px #000;
    }
}

.score-data_rules {
    margin-bottom: 7px;
}

.text-rules {
    color: var(--color-principal);
    text-align: center;
}

@media(min-width: 1150px) {
    .text-rules {
        background-color: rgb(188, 229, 244);
        border: solid 1px #000;
        opacity: 0.9;
    }
}

.img-rules {
    width: 150px;
    height: 150px;
    align-self: center;
}

@media(min-width: 520px) {
    .img-rules {
        width: 130px;
        height: 130px;
    }
}

@media(min-width: 1150px) {
    .img-rules {
        display: none;
    }
}

@media(min-width: 520px) {
    .button {
        width: 70%;
        align-self: center;
    }
}

@media(min-width: 800px) {
    .button {
        width: 65%;
        align-self: center;
    }
}

@media(min-width: 952px) {
    .button {
        width: 65%;
        align-self: center;
    }
}